Q1. Create one variable containing following type of data:
(i) string
(ii) list
(iii) float
(iv) tuple

In [11]:
s="Samuel"
print(type(s))
l1=["sam","mohan",20]
print(type(l1))
f=1.23
print(type(f))
t=(20,"sam",2+3j)
print(type(t))

<class 'str'>
<class 'list'>
<class 'float'>
<class 'tuple'>

Q2. Given are some following variables containing data:
(i) var1 = ‘ ‘
(ii) var2 = ‘[ DS , ML , Python]’
(iii) var3 = [ ‘DS’ , ’ML’ , ‘Python’ ]
(iv) var4 = 1.

In [15]:
var1 = ' '
print(type(var1))
var2 = '[ DS , ML , Python]'
print(type(var2))
var3 = [ 'DS' , 'ML' , 'Python']
print(type(var3))
var4 = 1
print(type(var4))

<class 'str'>
<class 'str'>
<class 'list'>
<class 'int'>

Q3. Explain the use of the following operators using an example:
(i) /
(ii) %
(iii) //
(iv) **

In [17]:
# / is the division operator
a=35 / 2
print(a)
# % is the modulus operator tell us the remainder of the division
b=35 % 2
print(b)
# // is the floor division returns the floor value after division
c=35 // 2
print(c)
# ** is the power operator 
d=2 **3
print(d)

17.5
1
17
8

Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the
element and its data type.

In [1]:
s=[100,20,"Sam",30.8,2+3j]
for i in s:
    print("Element",i,"Data type",type(i))

Element 100 Data type <class 'int'>
Element 20 Data type <class 'int'>
Element Sam Data type <class 'str'>
Element 30.8 Data type <class 'float'>
Element (2+3j) Data type <class 'complex'>

Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many
times it can be divisible.

In [8]:
a=50
b=2
while a%b==0 :
    print(a," is purely divisible by " , b ," and is divisible " ,int((a/b)), " times")
    break 
else:
    print(a ,"is not purely divisible by " ,b)

50  is purely divisible by  2  and is divisible  25  times

Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is
divisible by 3 or not.

In [1]:
for i in range(1,25,1):
    if(i%3==0):
        print(i,"is divisible ny 3")
    else:
        print(i,"is not divisible by 3")

1 is not divisible by 3
2 is not divisible by 3
3 is divisible ny 3
4 is not divisible by 3
5 is not divisible by 3
6 is divisible ny 3
7 is not divisible by 3
8 is not divisible by 3
9 is divisible ny 3
10 is not divisible by 3
11 is not divisible by 3
12 is divisible ny 3
13 is not divisible by 3
14 is not divisible by 3
15 is divisible ny 3
16 is not divisible by 3
17 is not divisible by 3
18 is divisible ny 3
19 is not divisible by 3
20 is not divisible by 3
21 is divisible ny 3
22 is not divisible by 3
23 is not divisible by 3
24 is divisible ny 3

Q7. What do you understand about mutable and immutable data types? Give examples for both showing
this property.

Mutable Data Type – A mutable data type is those whose values can be changed.
Example: List
Immutable Data Type – An immutable data type is one in which the values can't be changed or altered
Example: String

In [2]:
#Example for Mutable Data type: List
l1=[10,20,"Sam"]
#inserting new item in the list
l1.append("Sekhar")
print(l1)
#Example for Immutable Data type: String
S="Hello"
S

[10, 20, 'Sam', 'Sekhar']